# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
emulator
tiny-firmware/test_skycoin-emulator
tiny-firmware/skycoin-emulator
tiny-firmware/test_skycoin-emulator
**/*.img
**/*.bin
release.md5

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.o
*.d
test_skycoin_crypto
*.pyc

# Temporary files
*.swp
*.swo
*.orig
.DS_Store

# IDE
.vscode
.idea
